.footer {
    background-color: #333; 
    color: white; 
    
    text-align: center; 
    position: sticky;
    bottom: 0;
    height: 100px;
}

.footer-content {
    max-width: 800px; 
     margin: 0 auto; 
     padding-top:3px;
}

.social-links {
    margin-top: 1px;
    margin-bottom: 10px;
}

.social-icon {
    color: white;
    margin: 0 10px; 
    font-size: 24px; 
    transition: color 0.3s ease; 
   

}

.social-icon:hover {
    color: #007bff; 
}
